<p id="notice"><%= notice %></p>

<p>
  <strong>En:</strong>
  <%= @word.en %>
</p>

<p>
  <strong>Cn:</strong>
  <%= @word.cn %>
</p>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
